# Kernel Module Build Artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.o.cmd
.*.cmd
.tmp_versions/
modules.order
Module.symvers
Module.markers
modules.builtin
modules.builtin.modinfo
.dirstamp

# Editor / OS files
.DS_Store
*.swp
*~
